<footer class="footer">
    <div class="enlaces">
      <h4 class="footer__subtitulo">Enlaces Rapidos</h4>
      <a href="#inicio" class="enlaces__items">Inicio</a>
      <a href="#nosotros" class="enlaces__items">Nosotros</a>
      <a href="#productos" class="enlaces__items">Productos</a>
      <a href="#servicios" class="enlaces__items">Servicios</a>
      <a href="#contacto" class="enlaces__items">Contacto</a>
    </div>

    <div class="redes">
      <h4 class="footer__subtitulo">Síguenos</h4>
      <a href="#" class="redes__items"><img src="icon/facebook.png" alt="icon facebook">Facebook</a>
      <a href="#" class="redes__items"><img src="icon/instagram.png" alt="icon insta">Instagram</a>
      <a href="#" class="redes__items"><img src="icon/Twitter.png" alt="">Twitter</a>
    </div>

    <div class="contacto">
      <h4 class="footer__subtitulo">Contacto</h4>
      <address class="direccion">
        Av. 9 de Julio<br>
        Buenos Aires<br>
        Tel: 1111-1111
      </address>
    </div>
  </footer>
