<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>LogIn</title>
</head>
<body>
      <div class="container">
          <h1>Bienvenido</h1>
          <div class="content">
            <form action="">
              <label for="email">Email</label>
              <input type="email" name="email" id="email">
              <label for="contrasena">Contrasena</label>
              <input type="password" name="contrasena" id="contrasena">
            </form>
            <button class="btn">Entrar</button>
            <p>Si aun no te registraste <a href="/signUp">haz click aqui</a></p>
            <p><a href="/">voler a la pagina principal</a></p>
            
          </div>
      </div>
</body>
</html>