<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registro.css">
    <title>Registro</title>
</head>
<body>
    <h1 class="title">Pagina de Registro</h1>

    <form action="/registroEnviado" method="POST" class="form">
        <label class="form__label" for="nombre">Nombre</label>
        <input class="form__input" type="text" name="nombre" id="nombre">

        <label class="form__label" for="apellido">Apellido</label>
        <input class="form__input" type="text" name="apellido" id="apellido">

        <label class="form__label" for="email">Email</label>
        <input class="form__input" type="email" name="email" id="email">

        <label class="form__label" for="clave">Contraseña</label>
        <input class="form__input" type="password" name="clave" id="clave">

        <p class="condiciones"><a href="#">Acepto los terminos y condiciones</a></p>
        <button class="form__btn" type="submit" name="registrarse" id="registro">Registrarse</button>
        <p class="text">Ya tienes una cuenta? <a href="/login">Inicia sesion</a></p>
        <p class="text"><a href="/">Volver al inicio</a></p>
    </form>
   
    
    

</body>
</html>